body{
    background-color: #FFB7E4;
    font-family: 'Fredoka', sans-serif;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18pt;
}
a:hover{
    color: #220A40;
    text-decoration: none;
}
.cabec{
    display: flex;
    background-color: #ff83c9;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.cabec h1{
    color: white;
}
.logo{
    width: 16%;
    border-radius: 100%;
    margin: 5px;
}
.brand{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.links{
    display: flex;
    flex-direction: row;
}
.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #ff83c9;
}
.capa{
    width: 86vw;
}
.card-deck{
    width: 86vw;
}
.rodape{
    background-color: #940050;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.carrinho{
    color: #220A40;
    font-size: 1.3em;
}
.card-title{
    font-size: 22pt;
}
.carrinho:hover{
    color: #940050;
    text-decoration: none;
}