body{
    margin: 0;
    padding:0;
    border-spacing: 0;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #f5cad0;
}

header{
    background-color: #aa386f;
    height: 9vh;
}

#botao__pesquisar, #botao__voltar{
    border: none;
    background: none;
}

#botao__voltar, .voltar{
    height: 3vh;
    width: 2vw;
    margin-top: 5px;
    margin-left: 5px;
    left: 0;
    position: absolute;
}

.btn-fechar {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    height: 5vh;
    width: 4vw;
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block; 
}

.btn-resizable {
    background: none;
    border: none;
    position: absolute;
    height: 5vh;
    width: 4vw;
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block; 
    right: 0;
    margin-right: 50px;
}

#botao__pesquisar{
    margin-top: 35px;
}

#input_produto{
    margin-top: 45px;
    width: 60vw;
    height: 8vh;
}

#input_tipo{
    margin-left: 10px;
    margin-top: 13px;
}

#botao__cadastrar, .mais{
    margin-bottom: 8px;
}

#botao__cadastrar{
    background-color: #d6808cef;
    border: #d6808cef;
    width: 5vw;
    height: 5vh;
    margin-right: 20px;
}

.mais{
    width: 2.3vw;
    height: 3.3vh;
}

/* .btn-excluir:hover{
    background-color: #7066E0;
    border: #7066E0;
}

.btn-atualizar:hover{
    background-color: #0070BB;
    border: #0070BB;


    btn-danger
} */

#salvar{
    background-color: rgb(84, 165, 84);
    border: rgb(84, 165, 84);
}

#fechar{
    background-color: #808080;
    border: #808080;
}

/* .btn-excluir{
    width: 3vw;
    height: 4vh;
    margin-top: 8px;
} */

/* .lapis, .excluir{
    width: 1vw;
    height: 2vh;  
} */

.trash-icon{
    border: 1px solid red;
    border-radius: 2px;
}

.update-button{
    border: 1px solid gray;
    border-radius: 2px;
}

#show_id_atualizar{
    display: none;
}