/* *{
    outline: 1px dashed salmon;
} */
body{
    background-color: #FFB7E4;
    font-family: 'Fredoka', sans-serif;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18pt;
}
a:hover{
    color: #220A40;
    text-decoration: none;
}
.menu, .nome{
    font-size: 16.5pt;
}
.menu:hover{
    font-size: 17pt;
}
.menu_icone{
    width: 30px;
    height: 30px;
}
.menu_icone:hover{
    width: 31.5px;
    height: 31.5px;
}
.menu{
    margin-right: 2px;
}
.cabec{
    display: flex;
    background-color: #ff83c9;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.nome{
    color: white;
}
.logo{
    width: 16%;
    border-radius: 100%;
    margin: 5px;
}
.menu_estendido{
    width: 4px;
}
.letra_categoria{
    font-size: large;
}
.brand{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.links{
    display: flex;
    flex-direction: row;
}
.sabor{
    color: #220A40;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.text_link{
    text-decoration: none;
    color: #220A40;
    font-size: 1.4em;
}
.text_link:hover{
    color: #940050;
}
.carousel{
    width: 86vw;
    margin-top: 20px;
}
.carousel, .card-deck{
    padding: 0;
}
.card-deck{
    width: 86vw;
}
.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #ff83c9;
}
.logoApp{
    width: 10%;
    border-radius: 50%; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.nomeApp{
    color: white;
}
.rodape{
    background-color: #940050;
    padding: 5px;
}
.rodape h4{
    font-size: medium;
}
.transition{
    transition: .5s;
}
.transition:hover{
    transform: scale(1.03, 1.03);
}
@media (max-width: 768px) {
    .card-deck {
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .card{
        min-width: 70vw;
        max-width: 76vw;
        margin-top: 25px;
    }
}
