/* CHOCOLATERIA */

body{
    background-color: #FFB7E4;
    font-family: 'Fredoka', sans-serif;
}

/* HEADER */
a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18pt;
}
a:hover{
    color: #220A40;
    text-decoration: none;
}
.menu, .nome{
    font-size: 16.5pt;
}
.menu:hover{
    font-size: 17pt;
}
.menu_icone{
    width: 30px;
    height: 30px;
}
.menu_icone:hover{
    width: 31.5px;
    height: 31.5px;
}
.menu{
    margin-right: 2px;
}
.cabec{
    display: flex;
    background-color: #ff83c9;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.nome{
    color: white;
}
.menu_estendido{
    width: 4px;
}
.letra_categoria{
    font-size: large;
}
.logo{
    width: 20%;
    border-radius: 50%;
    margin: 5px;
}
.brand{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.links{
    display: flex;
    flex-direction: row;
}

/* CAPA DA CATEGORIA */
.capa{
    width: 86vw;
    border-radius: 5%;
    margin-top: 30px;
}

/* CARDS */
.card-deck{
    width: 86vw;
    height: auto;
}
.card{
    min-width: 20vw ;
    max-width: 26vw ;
    margin-top: 20px;
}
.card-title{
    font-size: 22pt;
}
.preco{
    color: #ff83c9;
}
.encomenda{
    color: #940050;
}
.transition{
    transition: .5s;
}
.transition:hover{
    transform: scale(1.03, 1.03);
}
p{
    font-size: 1.2em;
}
h3{
    font-size: 0.8em;
    opacity: 0.9;
}
h2{
    font-size: 1.5em;
}

/* ANTES DO FOOTER */
.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #ff83c9;
}

/* FOOTER */
.rodape{
    background-color: #940050;
    padding: 5px;
}
.logoApp{
    width: 10%;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nomeApp{
    color: white;
}
.rodape h4{
    font-size: medium;
}

/* TELAS PEQUENAS */
@media (max-width: 768px) {
    .card-deck {
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .card{
        min-width: 70vw;
        max-width: 76vw;
        margin-top: 25px;
    }
}
