body{
    margin: 0;
    padding:0;
    border-spacing: 0;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #f5cad0;
}

#botao__pesquisar{
    border: none;
    background: none;
}

#input_produto{
    width: 60vw;
    height: 8vh;
}

#botao__cadastrar{
    margin-right: 6px;
    background-color: #d6808cef;
    border: #d6808cef;
}

#salvar{
    background-color: rgb(104, 212, 104);
    border: rgb(104, 212, 104);
}

#fechar{
    background-color: #808080;
    border: #808080;
}
