body{
    margin: 0;
    padding:0;
    border-spacing: 0;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: palevioletred;
}

#botao__pesquisar{
    border: none;
    background: none;
}

#input_produto{
    width: 60vw;
    height: 8vh;
}

#botao__cadastrar{
    margin-right: 6vw;
}
